body {
    background-color: #4C4746;
    text-align: center;
    padding-top: 20px;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    color: #F7B124;
}

h2 {
    font-size: 40px;
    color: #F7B124;
}

.user-selection {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    color: #FFBF00;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 30px;
    font-size: 3.5rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.5);   
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    color: #F7B124;
    padding: 20px;
    font-size: 2rem;
}

.user-score {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #d9a53b;
}

.computer-score {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #d9a53b;
}

.choices {
    color: #FFBF00;
    font-size: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 20px 10px;
}

footer p {
    color: #F7B124;
    font-size: 1.10rem;
}

.link {
    color: #F7B124;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.10rem;
}

.link:hover {
    color: #d9a53b;
    transform: scale(1.1);
}